@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EAuction.Models.User> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="site-wrap">



        @if (!SignInManager.IsSignedIn(User))
        {
        <div class="intro-section" style="background-image: url('/images/background_image.jpg');  background-size:100%">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                        <h1>The Best Place to Buy and Sell</h1>

                        <p>Create an account and start selling or bidding!</p>
                        <a class="text-dark btn  btn-lg btn-primary " asp-area="Identity" asp-page="/Account/Register">Register</a>

                    </div>
                </div>
            </div>
        </div>
        }
        else
        {


        <!-- </div> -->

        <div class="intro-section" style="background-image: url('/images/background_image.jpg');">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 mx-auto text-center" data-aos="fade-up">
                        <h1>The Best Place to Buy and Sell</h1>
                        <a class="text-dark btn  btn-lg btn-primary " asp-area="" asp-page="/Auctions/Create">Sell</a>

                    </div>
                </div>
            </div>
        </div>
        }
        <div class="site-section">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-7 mb-5 text-center mx-auto">
                        <h2 class="text-dark">Current <strong>Auctions</strong></h2>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.Auctions)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="item">
                                <div class="p-4">
                                    <h3><a asp-page="/Auctions/Details" asp-route-id="@item.Id">@item.Name</a></h3>
                                    <a asp-page="/Auctions/Details" asp-route-id="@item.Id"><img src="/images/@item.UrlImage" alt="Image" class="img-fluid"></a>

                                    <strong class="price">@item.Price.ToString("c")</strong>
                                    <div class="d-flex mb-2">
                                        <span>@item.Category</span>

                                    </div>

                                    <a asp-page="/Auctions/Details" asp-route-id="@item.Id" class=" btn btn-bid">View Auction</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>




    </div>