@page
@model EAuction.Pages.Users.DetailsModel

@{
    ViewData["Title"] = Model.MyUser.NickName  + "'s Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <span>Bidder: @Model.MyUser.NickName</span>
        <span>Amount: @Model.MyUser.Feedback</span>

        <span>Bidder: @Model.MyUser.Country</span>
        <button class="messageBtn btn btn-lg">Message</button>
        <form class="hidden" type="post" id="messageForm">

            <label asp-for="Message.Subject" class="control-label"></label>
            <input asp-for="Message.Subject" class="form-control" />

            <label asp-for="Message.MessageBody" class="control-label"></label>
            <input asp-for="Message.MessageBody" class="form-control" />
        </form>
    </div>
    <div class="panel-footer">
        <a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-Id="@Model.MyUser.Id">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
        @*<a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-Id="@Model.Id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-Id="@Model.Id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>*@
    </div>

</div>
@section Scripts{
    <script>
        $(function () {

            $('button').click(function () {
                $('#messageForm').removeClass('hidden');
            });
        });
    </script>
}
