@page
@model EAuction.Pages.Users.MessagesModel
@{
    ViewData["Title"] = "Message from ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@*@foreach (var message in Model.Messages)
{
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        @message.Subject
    </a>
    <div class="collapse" id="collapseExample">
        <h4>From: @message.Sender.NickName</h4>
        <h4>@message.MessageBody</h4>
    </div>

}*@
    <div class="row">
        <div class="col-lg-3">

            <partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" asp-area="Identity" />
        </div>
        <div class="col border">
        <div class="row   no-gutters">

            <div class="caption col"> <h3>  From </h3></div>

                <div class="col"><h3>Subject</h3></div>

              <div class="col"> <h3>Received</h3></div>
            </div>

            @foreach (var item in @Model.FirstMessage)
            {
                <div class="row  no-gutters">

                    <div class="col"><h4> @item.Sender.NickName</h4></div>
                       <div class="col"><a class="btn btn-lg"
                               asp-page="./MessageDetails"
                               asp-route-Id="@item.Id">
                                <i class="glyphicon glyphicon-zoom-in"></i> <h5>@item.Subject</h5></a>
                    </div>
                                <div class="col"><p >@item.CreatedAt.ToShortDateString()</p></div>



                </div>
                <hr/>
            }
        </div>
    </div>

