@page
@model EAuction.Pages.Users.MessageDetailsModel

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>MessageDetails</h1>

<div class="row">
    <div class="col-lg-3">

        <partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" asp-area="Identity" />
    </div>
    <div class="col border">
        <div class="row ">

            <div class=" col "><h3> From</h3>  </div>
            <div class="col "><h3>@Model.Messages[0].Subject </h3> </div>
            <div class="col font-weight-bold"><h3>Received</h3></div>
        </div>
        @foreach (var item in @Model.Messages)
        {
            <div class="row  no-gutters">

                <div class="col"> @item.Sender.NickName </div>
                <div class="col">
                    <p>@item.MessageBody</p>
                </div>

                <div class="col">@item.CreatedAt.ToShortDateString()</div>
            </div>
            <hr/>

        }
        <button type="submit" class="btn btn-primary">Reply</button>
        <form method="post" id="messageForm" class="hidden">

            <div class="form-group col-md-8">
                <label asp-for="Message.MessageBody" class="control-label"></label>
                <textarea asp-for="Message.MessageBody" class="form-control"></textarea>
                <span asp-validation-for="Message.MessageBody" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>

     </div>

@section Scripts{
    <script>
        $(function () {

            $('button').click(function () {
                $('#messageForm').removeClass('hidden');
            });
        });
    </script>
}
