@page
@model EAuction.Pages.Users.MessagesModel
@{
    ViewData["Title"] = "Message from ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@*@foreach (var message in Model.Messages)
{
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        @message.Subject
    </a>
    <div class="collapse" id="collapseExample">
        <h4>From: @message.Sender.NickName</h4>
        <h4>@message.MessageBody</h4>
    </div>

}*@
    <div class="row">
        <div class="col-lg-3">

            <partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" asp-area="Identity" />
        </div>

        <div class="col  border no-gutters">

            <div class="caption col-lg-8">
                <h3>  From </h3>

                <p>@Model.FirstMessage[0].Subject</p>

                <h4 class="pull-right">Received</h4>
            </div>

            @foreach (var item in @Model.FirstMessage)
            {
                <div class="row  no-gutters">

                    <div class="caption col-xs-8 col-md-8 col-lg-8">
                        <h3> @item.Sender.NickName</h3>

                        <p>@item.Subject</p>

                        <h4 class="pull-right">@item.CreatedAt.ToShortDateString()</h4>
                    </div>



                </div>






            }

        </div>
    </div>
<button type="submit" class="btn-primary">Reply</button>
<form method="post" id="messageForm" class="hidden">

    <div class="form-group col-md-8">
        <label asp-for="Message.MessageBody" class="control-label"></label>
        <textarea asp-for="Message.MessageBody" class="form-control"></textarea>
        <span asp-validation-for="Message.MessageBody" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
</form>
@section Scripts{
    <script>
        $(function () {

            $('button').click(function () {
                $('#messageForm').removeClass('hidden');
            });
        });
    </script>
}
