@page
@model ListModel

@{
    ViewData["Title"] = "List";
}

@*@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}*@
<form asp-page="/List/Search" method="get" hidden>
    <input type="search"
           placeholder="Search" aria-label="Search" class="src-box-input" name="SearchString" value="@Model.CurrentFilter" />
    <button type="submit" class="src-link-button"><i class="fas fa-search"></i></button>
</form>
<div class="row">
    <div class="col-md-2">
        <div class="side-box mb-5">
            <h3>Categories</h3>
            <ul class="list-unstyled auction-categories">
                @foreach (var item in @Model.Categories)
                {
                    <li>
                        <a class="dropdown-item" asp-page="./List" asp-route-FilterCategory="@item.ToString()">@item</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="main border col">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">All Auctions</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.selectedDropdown
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" asp-page="./List" asp-route-currentFilter="@Model.CurrentFilter">Best Match</a>
                            <a class="dropdown-item" asp-page="./List" asp-route-SortOrder="date_asc" asp-route-currentFilter="@Model.CurrentFilter">Ending First</a>
                            <a class="dropdown-item" asp-page="./List" asp-route-SortOrder="date_desc" asp-route-currentFilter="@Model.CurrentFilter">Ending Last</a>
                            <a class="dropdown-item" asp-page="./List" asp-route-SortOrder="price_asc" asp-route-currentFilter="@Model.CurrentFilter"> Lowest Price </a>
                            <a class="dropdown-item" asp-page="./List" asp-route-SortOrder="price_desc" asp-route-currentFilter="@Model.CurrentFilter"> Highest Price </a>
                        </div>
                </li>

            </ul>
        </nav>


        @foreach (var item in @Model.Auctions)
        {
            <div class="row justify-content-md-center border no-gutters">
                <div class="thumbnail col-xs-2 col-md-2 col-lg-2">

                    <img src="/images/@item.UrlImage" alt="">
                </div>
                <div class="caption col-xs-8 col-md-8 col-lg-8">
                    <h3>
                        <a asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                    </h3>

                    <p>@item.Condition</p>

                    <h4 class="pull-right">@item.Price.ToString("c")</h4>
                </div>
                <div class="col-xs-2 col-md-2 col-lg-2">
                    From @item.Country
                </div>


            </div>
        }
    </div>
</div>
@{
    var prevDisabled = !Model.Auctions.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Auctions.HasNextPage ? "disabled" : "";

    if (!prevDisabled.Equals("disabled"))
    {
        <a asp-page="./List"
           asp-route-SortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Auctions.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
    }
    if (!nextDisabled.Equals("disabled"))
    {
        <a asp-page="./List"
           asp-route-SortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Auctions.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
    }
}
