@page
@model EAuction.Pages.Auctions.DetailsModel
@{
    ViewData["Title"] = "Details";
}


<div>
    <a asp-page="Index">Back to Search Results</a>
</div>
<div class="container-fluid">
    <div class="row h-50 border">
        <div class="col border">
            <img alt="@Model.Auction.Name" src="@Model.Auction.UrlImage">
        </div>
        <div class="col border">
            <div class="caption-full">
                <h3 class="pull-right">@Model.Auction.Price.ToString("c")</h3>
                <h3>
                    <a href="#">@Model.Auction.Name</a>
                </h3>
            </div>
        </div>
        <div class="col border">
            Seller information
        </div>
    </div>
    <div class="description row h-50">
        <p>@Model.Auction.Details</p>
    </div>
</div>